AM2.aux
AM2.log
AM2.out
AM2.pdf
AM2.synctex.gz
AM2.toc
Marson An2.pdf
giacomo veglio/Giacomo Veglio.aux
giacomo veglio/Giacomo Veglio.log
giacomo veglio/Giacomo Veglio.out
giacomo veglio/Giacomo Veglio.pdf
giacomo veglio/Giacomo Veglio.synctex.gz
giacomo veglio/Giacomo Veglio.toc
headerAM2.aux
